*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.xml
.project
.idea
data
logs
#node_modules
node_modules/loopback-sdk-angular-cli
node_modules/loopback-generator
node_modules/strong-arc
npm-debug.log
pids
results
test/sandbox
coverage
